@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    height: 325px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.367);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

div > img{
    display: flexbox;
    justify-content: center;    
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.367);   
}

div{
    text-align: center;
    margin-bottom: 10px;
}